// base
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.4;
}

h1 {
  text-transform: capitalize;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 960px;
  margin: auto;
  padding: 0 3rem;
  // overflow: hidden;
}

// menu
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    cursor: pointer;
    height: 60px;
    width: 60px;
    opacity: 0;

    // toggler animate
    &:checked + .hamburger > div {
      transform: rotate(135deg);

      // turn lines into X
      &::before,
      &::after {
        top: 0;
        transform: rotate(90deg);
      }
    }

    /* Rotate On Hover When Checked */
    &:checked:hover + .hamburger > div {
      transform: rotate(225deg);
    }

    // show menu
    &:checked ~ .menu {
      visibility: visible;

      & > div {
        transform: scale(1);
        transition-duration: $menu-speed;

        & > div {
          opacity: 1;
          transition: opacity ease 0.4s;
        }
      }
    }
  }

  // hamburger lines
  .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    height: 60px;
    width: 60px;
    padding: 1rem;
    background: $primary-color;

    display: flex;
    justify-content: center;
    align-items: center;

    & > div {
      position: relative;
      // flex: none;
      height: 2px;
      width: 100%;
      background: #fff;

      transition: all ease 0.4s;

      // display: flex;
      // justify-content: center;
      // align-items: center;

      // top lines
      &::before {
        content: "";
        position: absolute;
        top: -10px;
        z-index: 1;

        height: 2px;
        width: 100%;
        background: inherit;
      }

      // bottom lines
      &::after {
        content: "";
        position: absolute;
        top: 10px;
        z-index: 1;

        height: 2px;
        width: 100%;
        background: inherit;
      }
    }
  }

  // menu
  .menu {
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    // overflow: hidden;
    visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    & > div {
      background: $overlay-color;
      border-radius: 50%;
      height: 200vw;
      width: 200vw;
      flex: none;

      display: flex;
      justify-content: center;
      align-items: center;

      transform: scale(0);
      transition: all ease 0.4s;

      & > div {
        // text-align: center;
        max-height: 100vh;
        max-width: 90vw;
        opacity: 0;

        transition: opacity ease 0.4s;

        ul li {
          font-size: 1.5rem;
          padding: 0.7rem;
          color: #fff;

          a {
            text-transform: capitalize;
            font-weight: 600;
            color: inherit;
            transition: color ease 0.4s;
          }
        }
      }
    }
  }
}

// showcase
.showcase {
  position: relative;

  background: $primary-color;
  color: #fff;
  height: 100vh;

  .showcase-inner {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
      font-size: 4rem;
    }

    p {
      font-size: 1.3rem;
    }

    .btn {
      display: inline-block;
      border: none;
      background: $primary-color;
      color: #fff;
      padding: 0.75rem 1.5rem;
      margin: 1rem;

      transition: opacity ease-in-out 0.2s;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &::before {
    content: "";
    background: url("/image/pexels-photo-533923.jpeg") no-repeat center
      center/cover;
    // background-size: cover;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}
