* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.4;
}

h1 {
  text-transform: capitalize;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: capitalize;
}

.container {
  max-width: 960px;
  margin: auto;
  padding: 0 3rem;
}

.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  height: 60px;
  width: 60px;
  opacity: 0;
}

.menu-wrap .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div::before, .menu-wrap .toggler:checked + .hamburger > div::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 60px;
  width: 60px;
  padding: 1rem;
  background: rgba(13, 110, 139, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-wrap .hamburger > div {
  position: relative;
  height: 2px;
  width: 100%;
  background: #fff;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.menu-wrap .hamburger > div::before {
  content: "";
  position: absolute;
  top: -10px;
  z-index: 1;
  height: 2px;
  width: 100%;
  background: inherit;
}

.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  top: 10px;
  z-index: 1;
  height: 2px;
  width: 100%;
  background: inherit;
}

.showcase {
  position: relative;
  background: rgba(13, 110, 139, 0.75);
  color: #fff;
  height: 100vh;
}

.showcase .showcase-inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.showcase .showcase-inner h1 {
  font-size: 4rem;
}

.showcase .showcase-inner p {
  font-size: 1.3rem;
}

.showcase .showcase-inner .btn {
  display: inline-block;
  border: none;
  background: rgba(13, 110, 139, 0.75);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin: 1rem;
  -webkit-transition: opacity ease-in 0.2s;
  transition: opacity ease-in 0.2s;
}

.showcase .showcase-inner .btn:hover {
  opacity: 0.7;
}

.showcase::before {
  content: "";
  background: url("/image/pexels-photo-533923.jpeg") no-repeat center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */